<div class="container">




  <div class="row">
    <div class="col" *ngFor="let purchaseOrder of purchaseOrders">
      {{purchaseOrder.purchaseOrderNo}} {{purchaseOrder.vendorNo}}
      <ul>
        <li *ngFor="let purchaseOrderProduct of purchaseOrder.purchaseOrderProducts">
          {{purchaseOrderProduct.product.productCode}} {{purchaseOrderProduct.product.productName}} {{purchaseOrderProduct.product.productDesc}}
          {{purchaseOrderProduct.unitCost}} {{purchaseOrderProduct.volumn}}
        </li>
      </ul>
    </div>
  </div>


  <h4>Add purchaseOrder</h4>
  <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value)">
    <!-- we will place our fields here -->
    <!-- name -->
    <div class="form-group">
      <input id="purchaseOrderNo" type="text" formControlName="purchaseOrderNo" placeholder="Purchase Order No">
      <input type="text" formControlName="vendorNo" placeholder="Vendor No">
      <!--display error message if name is not valid-->
      <div>
        <div *ngIf="(myForm.controls.purchaseOrderNo.invalid && (myForm.controls.purchaseOrderNo.dirty || myForm.controls.purchaseOrderNo.touched))"
          class="alert alert-danger">
          <div *ngIf="myForm.controls.purchaseOrderNo.errors.required">
            purchaseOrderNo is required.
          </div>
        </div>
      </div>
      <div *ngIf="(myForm.controls.vendorNo.invalid && (myForm.controls.vendorNo.dirty || myForm.controls.vendorNo.touched))" class="alert alert-danger">
        <div *ngIf="myForm.controls.vendorNo.errors.required">
          vendorNo is required.
        </div>
      </div>

    </div>

    <div formArrayName="purchaseOrderProducts">
      <div *ngFor="let purchaseOrderProduct of myForm.controls.purchaseOrderProducts.controls; let i=index">
        <!-- address header, show remove button when more than one address available -->
        <div>
          <span>product {{i + 1}}</span>
          <span class="fa fa-times  pull-right" *ngIf="myForm.controls.purchaseOrderProducts.controls.length > 1" (click)="remove(i)">
          </span>
        </div>

        <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
        <div [formGroupName]="i">
          <!--street-->
          <span formGroupName="product">
            <input type="text" formControlName="productCode" placeholder="productCode">
            <input type="text" formControlName="productName" placeholder="productName">
            <input type="text" formControlName="productDesc" placeholder="ProductDesc">
          </span>
          <input type="numer" formControlName="unitCost" placeholder="unitCost">
          <input type="numer" formControlName="volumn" placeholder="volumn">
        </div>
      </div>
    </div>
    <div class="margin-20">
      <a (click)="add()" style="cursor: default">
        Add another address +
      </a>
    </div>

    <button type="submit" [disabled]="!myForm.valid">Submit</button>
  </form>

</div>